*{
    margin: 0 auto;
    box-sizing: border-box;
}
#footer{
    width: 90vw;
    min-width: 1920px;
    background: #212830;
    color: #ffffff;
    padding: 20px 300px;
    position: relative;
    display: flex;
    margin: 0 auto;
}
#footerWrap{
    width: 1920px;
    margin: 0 auto;
}
#footer1{
    width: 1500px;
    display: flex;
    flex-direction: row;
    margin: 0;
}
#footer2{
    width: 1500px;
    padding: 30px 0px;
    margin: 0;
}
#footer3{
    width: 1500px;
    display: flex;
    line-height: 30px;
    margin: 0;
}

.footer1_detail{
    padding: 0 10px;
    border-left: 2px solid#cccccc;
    border-right: 2px solid #cccccc;
}
.footer1_detail:nth-child(1){
    border-left: 0px solid;
    padding-left: 0px;
}
.footer1_detail:nth-child(9){
    border-right: 0px;
}

.footer1_detail:hover{
    cursor: pointer;
    text-decoration: underline;
}