body{
    font-family: '바른공군체',sans-serif;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
/* header */
#header{
    height: 128px;
    background: #212830;
    z-index: 1;
    width: 90vw;
    min-width: 1920px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    display: flex;
    justify-content: space-between;
    }

    /* logo */
    #logo{
    width: 472px;
    height: 128px;
    left: 0px;
    top: 0px;
    z-index: 2;
}

/* header_main */
#header_main{
/* Auto layout */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    width: 1920px;
}

#main1{
/* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    /* width: 168px; */
    height: 100%;
    padding: 0 50px;


/* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#main2{
/* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 50px;

    margin: 0 auto;
    /* width: 150px; */
    height: 100%;


/* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;

}

#main3{
/* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 0 auto;
    /* width: 138px; */
    height: 100%;
    padding: 0 50px;


/* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}



/* Inside auto layout */



/* Frame 6 */
#main4{
/* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 0 auto;

    height: 100%;
    padding: 0 50px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#main5{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 0 auto;
    /*   */
    height: 100%;
    padding: 0 50px;


    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}



#icon1{
    padding-right: 100px;
    width: 65px;
    height: 40px;
}
#icon1:hover{
    cursor: pointer;
}
#SMContainer{
    width: 100vw;
    height: 100%;
    background-color: rgb(128, 128, 128,0.5);
    position: absolute;
    top: 0;
    z-index: 5;
}
#SMMain{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: rgb(211, 211, 211);
    align-items: center;
    position: absolute;
    top: 128px;
    opacity: 1;
}
#search{
    width: 500px;
    height: 60px;
    border: none;
    padding: 30px;
    font-size: 25px;
    margin: 0;
}
#search:focus {outline:none;}

.SMClose{
    height: 60px;
    width: 50px;
    border: none;
    background-color: white;
    margin:auto;
    display: flex;
    text-align: center;
    align-items: center;
}
.bi:before{
    font-size: 30px;
    background-color: white;
    margin: 0;
}
.SMClose:hover{
    cursor: pointer;
}
#SMSearch{
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#SMClose{
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

#main1:hover,#main2:hover,#main3:hover,#main4:hover, #main5:hover{
    cursor: pointer;
    font-weight: 800;
}
#main1:hover .header_sub{
    display: flex;

}
#main2:hover .header_sub{
    display: flex;
}
#main3:hover .header_sub{
    display: flex;
}
#main4:hover .header_sub{
    display: flex;
}
#main5:hover .header_sub{
    display: flex;
}

.header_sub{
    position: absolute;
    display: none;
    /* max-width: 1920px; */
    width: 100vw;
    max-width: 1920px;
    height: 350px;
    top: 128px;
    left: 0px;
    z-index: 5;
    background: white;
    color: black;
    flex-direction: row;
    align-items: center;
    /* gap: 100px; */
}
.header_sub1{
    z-index: 6;
    width: 20%;
    height: 100%;
    font-size: 30px;
    padding: 30px 50px;
}
.header_sub2{
    z-index: 6;
    width: 20%;
    height: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
}
