*{
    margin: 0 auto;
    box-sizing: border-box;
}
#main_wrap{
    width: 90vw;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

#main_head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 130px;

    background: linear-gradient(180deg, rgba(82, 105, 133, 0.25) 0%, rgba(45, 75, 110, 0) 100%);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.2em;

    color: #44576D;
}
#main_main{
    width: 100%;
    padding: 50px 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: wrap;
    gap: 110px;
}
.main_box{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 50px;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.main_box:hover{
    cursor: pointer;
    border: 5px solid #314a6e;
    transform: scale(1.1);  
}
.main_box:nth-child(12){
    border: none;
}
.main_box:nth-child(12):hover{
    cursor: default;
}
/* Inside auto layout */
