*{
    margin: 0 auto;
}
#main_head{
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 90vw;
    max-width: 1920px;
    height: 130px;

}
#main_head_left{
    height: 100%;
    width: 20%;
    min-width: 384px;
    padding: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 36px;
    border-bottom: 3px solid black;
    letter-spacing: 0.1em;
}
#main_head_right{
    width: 80%;
    min-width: 1344px;
    padding-left: 50px;

    display: flex;
    align-items: center;

    background: linear-gradient(180deg, rgba(77, 98, 124, 0.2) 0%, rgba(45, 75, 110, 0) 100%);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.1em;

    color: #44576D;
}
#main_detail{
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-width: 1920px;
    
}

#main_detail_left{
    width: 384px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_detail_left_list:hover{
    cursor: pointer;
}
.main_detail_left_list{
    height: 100px;
    width: 384px;
    font-size: 32px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;

    border-bottom: 3px solid #d1d1d1;
}



#main_detail_right1{ /*육군*/
    /* width: 1536px; */
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
#arrow1,#arrow2{
    position: absolute;
}

#arrow1{
    left: 50px;
}
#arrow2{
    right: 50px;
}
.arrow:hover{
    cursor: pointer;
}


.bi-chevron-left::before{
    background-color:transparent;
}
.bi-chevron-right::before{
    background-color: transparent;
}
#main_detail_right2{ /*공군*/
    width: calc(100% - 400px);
    box-sizing: border-box;

}
#main_detail_right3{ /*해군*/
    width: calc(100% - 400px);
    box-sizing: border-box;

}
#main_detail_right4{ /*기타*/
    width: calc(100% - 400px);
    box-sizing: border-box;
}
.main_detail_right_head{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    padding: 0px 100px;
    border-top: 3px double lightgray;
    border-bottom: 3px double lightgray;

    font-size: 32px;
    /* background: rgba(68, 87, 109, 0.22); */
}

.main_detail_left_list:hover{
    font-weight: 800;
    color: black;
}

.main_detail_right_head_list:hover{
    cursor: pointer;
}
.main_detail_right_head1{
    height: 100px;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    margin: 0px 100px;
    color: gray;


    font-size: 32px;
    /* background: rgba(68, 87, 109, 0.22); */
    overflow: hidden;
}
#육군전용{
    border-top: 3px double lightgray;
    border-bottom: 3px double lightgray;
}
.main_detail_right_head1:nth-of-type(1){
    overflow: hidden;
    background: none;
}
/* .main_detail_right_head1:nth-of-type(1):hover{
    overflow: scroll;
}
.main_detail_right_head1:nth-of-type(1):hover::-webkit-scrollbar {
    display: none;
} */
.main_detail_right_head_list{
    height: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_detail_right_detail{
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 23px;
}
.main_detail_right_detail_left{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 108.33px;
    padding-bottom: 50px;
    padding-left: 25px;
    gap: 20px;
}
.main_detail_right_detail_right{
    width: calc(100% - 500px);
    height: 700px;
    padding:0px 50px ;
    padding-bottom: 50px;
    
}
.MDRDRD{
    width: 100%;
    height: calc(650px / 6);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: auto;
}
.MDRDRDL{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.MDRDRDR{
    width: 720px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid black;
}
.MDRDRD:nth-child(1){
    border-bottom: 3px double lightgray;
}
