@media screen and (min-width:1024px) {
    body {width: 100%; overflow-x: hidden;}
}
@font-face {
    font-family: '바른공군체', sans-serif;
    src: url(./ROKAF\ Sans\ Medium.ttf);
    font-family: 'Courier New', Courier, monospace;
}
body{
    font-family: '바른공군체',sans-serif;
}

#main_head{
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 90vw;
    max-width: 1920px;
    height: 130px;
    
}
#main_head_left{
    height: 100%;
    width: 20%;
    min-width: 384px;
    padding: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 40px;
    border-bottom: 3px solid black;
}
#main_head_right{
    width: 80%;
    width: 1344px;
    padding-right: auto;
    padding-left: 50px;

    display: flex;
    align-items: center;

    background: linear-gradient(180deg, rgba(18, 47, 80, 0.25) 0%, rgba(18, 47, 80, 0) 100%);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.2em;

    color: #44576D;
}
#main_detail{
    display: flex;
    flex-direction:row;
    width: 90vw;
    max-width: 1920px;
}

#main_detail_left{
    width: 384px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_detail_left_list:hover{
    cursor: pointer;
}
.main_detail_left_list{
    height: 100px;
    width: 384px;
    font-size: 32px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 3px solid #d1d1d1;
}
#mapWrap{
    width: 80%;
    width: 1344px;
    padding-right: auto;
    padding-left: 50px;
}


#map1{   
    position: relative;
    left: 15px;
    width: 700px;
    height: 400px;
}
#map2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
    /* position: relative;
    width: 360px;    */
}
#map_bottom{
    height: 50px;
    width: 792px;
    top: 713px;
    left: 400px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.MBD{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
